.laatikko, .laatikko2 {
    
    cursor: pointer;
    width: 45px;
    
    
}
.laatikko2 {
    margin-top: 30px;
    width: 50px;
    height: 6px;
    background: black;
    position: relative;
    transition: .5s;
}
.laatikko2::after {
    content: '';
    width: 44px;
    position: absolute;
    border: 3px solid black;
    transform: translateY(14px);
    transition: .5s;
    
}
.laatikko2::before {
    content: '';
    width: 44px;
    position: absolute;
    border: 3px solid black;
    transform: translateY(-14px)
}

.viiva1, .viiva2, .viiva3 {
    width: 35px;
    height: 5px;
    background: black;
    margin: 6px 0;
    transition: 0.4s;
}

.chance.viiva1 {
    transform: rotate(-90deg) translate(-9px, 0px);

}
.chance.viiva2 {
    width: 45px;
}
.laatikko.chance {
    border: 3px solid black;
    border-radius: 50px;
}

.chance.viiva3 {
    transform: rotate(90deg) translate(-9px, 0px);
}
.chance.line {
    background-color: blue;
    height: 7px;

}

.muutos.laatikko2 {
    background: green;
}
.muutos.laatikko2::before {
    
    border: 3px solid blue;
}
.muutos.laatikko2::after {
    transform: rotate(90deg);
    border: 3px solid blue;
    transition: .5s;
}


